<!DOCTYPE html>
<html>
  <head>
    <title>The Thirsty Student</title>
    <link href="css/index.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>About The Thirsty Student Shop</h1>
    </header>
    <main>
      <p>We sell all sorts of drinks</p>
      <hr />
      <!-- Description of the shop. -->
      <p class="description">
        The Thirsty Student Shop is your one-stop destination for a wide variety
        of beverages. From refreshing sodas to energizing energy drinks, and
        from exotic teas to rich coffees, we've got something for everyone. Our
        shop caters to the beverage needs of students, ensuring a diverse
        selection at affordable prices.
      </p>
    </main>
    <footer>
      <!-- Our email. -->
      <p>Contact us at: example@email.com</p>
    </footer>
  </body>
</html>
