<!DOCTYPE html>
<html>
  <head>
    <title>Search page</title>
    <link href="css/index.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Search for something</h1>
    <p>We sell all sorts of drinks</p>
    <!-- Drink search. -->
    <form action="/search-result" method="GET">
      <input id="search-box" type="text" name="keyword" value="Default" />
      <input type="submit" value="OK" class="my-button" />
    </form>
    <footer>
      <!-- Our email. -->
      <p>Contact us at: example@email.com</p>
    </footer>
  </body>
</html>
